body {
  font-family: 'Abel';font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  header {
    background-color: black;
    color:bisque;
    padding: 1em;
    text-align: center;
   font-size: larger;
   font-weight: bolder;
   font-style: normal;
  }
 
  h1:hover{

   
    transform: translate3d(10px,0px,20px);  

  }
  
  nav {
    
    padding: 0.5em;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
  }
  
  nav li {
    display: inline-block;
    font-weight: bold;
    font-style: italic;
    margin: 0 1em;
  }
  
  nav a {
    color: wheat;
    text-decoration: none;
  }
  
  nav a:hover {
    color:rgb(201, 102, 3);
    background-color:bisque;
  }
         
  .myDIV:hover + .hide {
    display: block;
    color: white;
    padding: 2em;
    text-align: justify;
    color:wheat;
    font-weight: bolder; 
    
  }

  
  
  .myDIV{
    padding: 2em;
    text-align: justify;
    color:wheat;
    font-weight: bolder;
    text-decoration:line-through;
  }
  
  footer {
    background-color: black;
    color: wheat;
    padding: 0.5em;
    text-align: center;
  }
  img{
    
      height: 500px;
      margin-left: 350px;  
  }

